*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    min-height: 100%;
}
body{
    font-family: 'Arvo', serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
a {
    text-decoration: none;
    color: darkblue;
    transition: color .5s;
}
a:hover {
    color: blue;
}
#header{
    background-color: #6acac1;
    display: grid;
    grid-template-columns: auto auto 1fr;
    color: #191919;
    -webkit-box-shadow: 0 3px 8px gray;
    box-shadow: 0 3px 8px gray;
}
.spanH1L{
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px gray;
}
.spanH1R{
    background-color: #fe0000;
    display: inline-block;
    font-weight: 400;
    color: rgba(255,255,255,0.9);
    border: dashed 10px white;
    border-left: 0;    
    border-right: 0;
    text-shadow: 4px 4px 4px black;
    padding: 0.3em 0.5em;
}
#header div {
    display: grid;
    align-items: center;
    padding: 1em;
}
.div-header-02 {
    font-size: 1.2em
}
#inputSearch {
    background-color: #d3f1ef;
    color: rgb(1, 110, 99);
    font-size: 1.5em;
    width: 100%;
    border: transparent;
    padding: 0.5em;
    -webkit-box-shadow: 0 0 5px 1px gray;
    box-shadow: 0 0 5px 1px gray;
}
input::placeholder {  
    color: gray;  
}
input:focus {
    outline: transparent;
}
.container-iframe{
    display: grid;
    width: 100%;
    margin: 2em 0;
}
#iframeId{
    justify-self: center;
    display: none;
    width: 50%;
    height: 400px;
    border: 0;
    -webkit-box-shadow: 5px 5px 8px black;
    box-shadow: 5px 5px 8px black;
}
#footer {
    background-color: #6acac1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
#footer div {
    text-align: center;
    padding: 1em;
}
#footer div p {
    padding: 0.3em;
}
.logo-github-footer {
    width: 30px;
    vertical-align: middle;
}
@media screen and (max-width: 992px) {
    #header{
        grid-template-columns: auto auto;
    }
    .div-header-03 {
        grid-column: 1 / span 2;
    }
    #inputSearch {
        font-size: 1.3em;
    }
    #iframeId{
        width: 70%;
    }
}
@media screen and (max-width: 576px) {
    #header{
        grid-template-columns: auto;
    }
    .div-header-01 {
        justify-content: center;
    }
    .div-header-02 {
        justify-content: center;
        font-size: 1em;
        padding: 0.5em 0 !important;
    }
    .div-header-03 {
        grid-column: auto;
    }
    #inputSearch {
        font-size: 1.2em;
    }
    #iframeId{
        width: 90%;
    }
    #footer {
        grid-template-columns: 1fr;
    }
}